body{
    background-color: rgb(218, 218, 218);
}
.q1{
    width: 1000px;
    height: 800px;
}
footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    background-color: #000;
  
  }
  footer a{
    color: white;
    font-size: 18px;
    margin-left: 10px;
  }
  footer nav a:hover{
    border-bottom: 1px solid white;
  }
.z1{
    text-align: center;
}
.z2{
    font-size: 25px;
}
.z3{
    width: 853px;
    text-align: center;
}